*{
	font-family: "Book Antiqua", monospace;
	font-size: 20px;
}

#p3{
	color: yellow;
}

h1{
	font-size: 50px;
}

#learning{
	text-transform: uppercase;
}

.languages{
	background-color: #addfad;
}

li[required]{
	border: 2px solid rgb(0, 0, 80);
}

img + ol{
	list-style-type: none;
}

div img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

h3 ~ p{
	text-align: center;
}
#other-things-div > ol{
	letter-spacing: 5px;
}